name: Coleta SPTrans

on:
  schedule:
    - cron: "*/1 * * * *"  # a cada 1 minuto
  workflow_dispatch:       # permite rodar manualmente também

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          pip install requests

      - name: Executar script
        env:
          SPTRANS_API_KEY: ${{ secrets.SPTRANS_API_KEY }}
        run: |
          python main.py

      - name: Fazer upload dos arquivos JSON
        uses: actions/upload-artifact@v4
        with:
          name: dados-json
          path: dados/

