name: SPTrans Tracker

on:
  schedule:
    - cron: "*/5 * * * *"  # Executa a cada 1 minuto
  workflow_dispatch:       # Permite executar manualmente

jobs:
  run-tracker:
    runs-on: ubuntu-latest

    permissions:
      contents: write   # Permite que o workflow fa칞a commits no reposit칩rio

    steps:
      - name: Fazer checkout do reposit칩rio
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar depend칡ncias
        run: |
          pip install requests

      - name: Criar pastas para dados
        run: |
          mkdir -p dados/posicoes

      - name: Executar script principal
        env:
          SPTRANS_TOKEN: ${{ secrets.SPTRANS_TOKEN }}
        run: python sptrans_posicoes.py

      - name: Commitar arquivos gerados no reposit칩rio
       run: |
       git config --global user.name "github-actions[bot]"
       git config --global user.email "github-actions[bot]@users.noreply.github.com"

       git add dados/posicoes/*.json || true
       git add dados/kmz/*.kmz || true

       git commit -m "游닍 Atualiza칞칚o autom치tica SPTrans (JSON + KMZ)" || echo "Nenhuma altera칞칚o para commit"
       git push
